.e28_27 { 
	overflow:hidden;
}
.e28_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e28_28 { 
	width:528px;
	height:267px;
	position:absolute;
	left:406px;
	top:20px;
	background-image:url(imagens/logo_do_site_da_loja_de_motos_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(243.31249594688416, 7.096605598926544, 7.096605598926544, 1);
	width:254px;
	height:59px;
	position:absolute;
	left:543px;
	top:258px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e28_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1440px;
	height:78px;
	position:absolute;
	left:0px;
	top:331px;
}
.e28_30 { 
	border:5px solid rgba(255, 0, 0, 1);
}
.e28_31 { 
	color:rgba(255, 0, 0, 1);
	width:115px;
	height:48px;
	position:absolute;
	left:47px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e28_32 { 
	color:rgba(255, 0, 0, 1);
	width:159px;
	height:33px;
	position:absolute;
	left:259px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e28_33 { 
	color:rgba(255, 0, 0, 1);
	width:226px;
	height:18px;
	position:absolute;
	left:543px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e28_34 { 
	color:rgba(255, 0, 0, 1);
	width:319px;
	height:24px;
	position:absolute;
	left:782px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e28_35 { 
	color:rgba(255, 1.0624989867210388, 1.0624989867210388, 1);
	width:314px;
	height:24px;
	position:absolute;
	left:1101px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e28_42 { 
	width:100px;
	height:100px;
	position:absolute;
	left:588px;
	top:516px;
}
.e37_4 { 
	width:285px;
	height:220px;
	position:absolute;
	left:19px;
	top:456px;
	background-image:url(imagens/xre_3000_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_5 { 
	width:306px;
	height:219px;
	position:absolute;
	left:19px;
	top:740px;
	background-image:url(imagens/cg_160_start_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_6 { 
	width:331px;
	height:222px;
	position:absolute;
	left:603px;
	top:459px;
	background-image:url(imagens/xtz_150_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_7 { 
	width:323px;
	height:219px;
	position:absolute;
	left:611px;
	top:740px;
	background-image:url(imagens/fazer_250_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_8 { 
	color:rgba(0, 0, 0, 1);
	width:216px;
	height:214px;
	position:absolute;
	left:327px;
	top:462px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e37_10 { 
	color:rgba(0, 0, 0, 1);
	width:244px;
	height:209px;
	position:absolute;
	left:344px;
	top:750px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e37_12 { 
	color:rgba(0, 0, 0, 1);
	width:319px;
	height:223px;
	position:absolute;
	left:957px;
	top:458px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e37_20 { 
	color:rgba(0, 0, 0, 1);
	width:293px;
	height:209px;
	position:absolute;
	left:965px;
	top:741px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
