.e37_21 { 
	overflow:hidden;
}
.e37_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e37_22 { 
	width:528px;
	height:267px;
	position:absolute;
	left:406px;
	top:20px;
	background-image:url(imagens/logo_do_site_da_loja_de_motos_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(243.31249594688416, 7.096605598926544, 7.096605598926544, 1);
	width:254px;
	height:59px;
	position:absolute;
	left:543px;
	top:258px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e37_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1440px;
	height:78px;
	position:absolute;
	left:0px;
	top:331px;
}
.e37_24 { 
	border:5px solid rgba(255, 0, 0, 1);
}
.e37_25 { 
	color:rgba(255, 0, 0, 1);
	width:115px;
	height:48px;
	position:absolute;
	left:47px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e37_26 { 
	color:rgba(255, 0, 0, 1);
	width:159px;
	height:33px;
	position:absolute;
	left:259px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e37_27 { 
	color:rgba(255, 0, 0, 1);
	width:226px;
	height:18px;
	position:absolute;
	left:543px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e37_28 { 
	color:rgba(255, 0, 0, 1);
	width:319px;
	height:24px;
	position:absolute;
	left:782px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e37_29 { 
	color:rgba(255, 1.0624989867210388, 1.0624989867210388, 1);
	width:314px;
	height:24px;
	position:absolute;
	left:1101px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e40_41 { 
	width:326px;
	height:263px;
	position:absolute;
	left:-1px;
	top:425px;
	background-image:url(imagens/twin_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_42 { 
	width:326px;
	height:327px;
	position:absolute;
	left:0px;
	top:697px;
	background-image:url(imagens/r1200_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_43 { 
	width:382px;
	height:263px;
	position:absolute;
	left:618px;
	top:425px;
	background-image:url(imagens/hornet_2012_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_44 { 
	width:382px;
	height:327px;
	position:absolute;
	left:618px;
	top:701px;
	background-image:url(imagens/tiger_900_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_45 { 
	color:rgba(0, 0, 0, 1);
	width:338px;
	height:264px;
	position:absolute;
	left:1008px;
	top:422px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e40_47 { 
	color:rgba(0, 0, 0, 1);
	width:292px;
	height:319px;
	position:absolute;
	left:1008px;
	top:697px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e40_48 { 
	color:rgba(0, 0, 0, 1);
	width:297px;
	height:255px;
	position:absolute;
	left:339px;
	top:433px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e40_49 { 
	color:rgba(0, 0, 0, 1);
	width:279px;
	height:327px;
	position:absolute;
	left:339px;
	top:701px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
